/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchPage{
  margin-left: 15%;
  background-color: rgb(235,235,235);
  padding: 10px 80px;
}

.filter{
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
}

.filterIcon{
  margin-right: 5px;
  color: #606060 !important;

}

.filterHeading{
  font-size: 15px;
  color: #606060;
  font-weight: 700;

}

h4{
color: rgb(37,37,37);
font-weight: 500;
}


