.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header_left{
    display: flex;
    align-items: center;
    margin-left: 14px;

}

.header_left img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 20px;
}

.header_middle{
    display: flex;
    align-items: center;
    width: 45%;
    flex: 1 1;
    margin-right: 10px;
    border: 2px solid lightgray;
    border-radius: 20px;
}



.SearchInput{
    flex: 1;
    border: none;
    height: 25px !important;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 16px;

}

.searchbtn{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgrey;
    color: gray;
    border-radius: 0px 86px 117px 0px;
}
.header_input{
    display: flex;
    align-items: center;
    width: 45%;
}

.header_right{
    display: flex;
    align-items: center;

}


.header_icons{
    margin-right: 20px;
    color: rgb(83,83,83)!important;
    /* background: #c1c0c0; */
    /* border-radius: 100% ; */

}