.homepage{
    background-color: rgb(243,243,243);
    margin-left: 16%;
    display: flex;
    flex-wrap: wrap;
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}